<br>
<h1>{{title}}</h1>
<br>
<p>Welcome to {{title}} application. It is a public repository where people upload their songs and group them into playlists.</p>
<p>To upload and edit your own songs, register first!</p>
<p>Then go the Playlists page by clicking 'Playlists' button at the top of the page and begin your journey by creating your first playlist!</p>