<br>
<h1>
  {{title}}
</h1>

<br>

{{!-- To Show data --}}
<table class="table table-striped table-hover">
  <thead>
    <th>Name</th>
    {{#if user}}
      <th>Actions</th>
    {{/if}}
  </thead>
  <tbody>
  {{#each dataset}}
    <tr>
      <td>{{this.name}}</td>
      {{#if ../user}}
        <td>
          <a href="/playlists/edit/{{this._id}}" class="btn btn-primary">Edit</a>
          <a href="/playlists/delete/{{this._id}}" class="btn btn-danger"
            onclick="return confirmDeletion();">Delete</a>
        </td>
      {{/if}}
    </tr>
  {{/each}}
  </tbody>
</table>

<br>

{{#if user}}
<a href="/playlists/add" class="a-link">Add a new Playlist</a>
{{/if}}

